<link rel="stylesheet" href="/assets/css/header-thin.css">
<nav class="navbar navbar-expand navbar-light bg-light navbar-thin">
  <div class="container">
    <a class="navbar-brand logo-area navbar-thin" href="/index.html">
      <img src="/assets/images/logo.png" alt="7th Leg Logo" style="max-height:80px;">
    </a>
<div class="navbar-collapse navbar-thin show" id="navbarNav">
      <ul class="navbar-nav ms-auto navbar-thin align-items-center">

        <!-- User Login/Dropdown placeholder -->
        <li class="nav-item dropdown" id="nav-user">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Login / Signup
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="/login.html">Signup</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
