<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand logo-area" href="/index.html">
      <img src="/assets/images/logo.png" alt="7th Leg Logo" style="max-height:80px;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="/communityhub/hub.html">The Hub</a></li>
        <li class="nav-item"><a class="nav-link" href="/gallery.html">Photo Gallery</a></li>
        <li class="nav-item"><a class="nav-link" href="https://discord.gg/aNcndrNhSg">Discord</a></li>

        <!-- User Login/Dropdown placeholder -->
        <li class="nav-item dropdown" id="nav-user">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Login / Signup
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="/login.html">Signup</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
